:root {
  --bg-color: #2D2D2D;
}

@keyframes loadIn {
    0% { 
      opacity: 0;
      background-color: black;
      margin-top: 40px;
      }
    100% { 
      opacity: 1;
      background-color: var(--bg-color);
      margin-top: 4px;
      }
}

/*Animation: animation: 1s ease-out 0s 1 animation;*/
body {
  font-family: Bahnschrift, sans-serif;
  background-color: var(--bg-color);
  color: white;
  animation: 0.6s ease-in 0s 1 loadIn;
  margin-top: 3px;
  
}

p {
  white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0.2px;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.mainlogo {
  max-width: 50%;
}
.box {
  max-width: 90%;
  border: 2px solid black;
  background-color: rgb(63, 63, 63);
  border-radius: 5px;
  margin-top: 8px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .center {
  width: 100%;
  }
}

.inverted {
  background-color: var(--bg-color);
}

a {
  color: white;
  text-decoration: none; 
  border-width: 2px;
  border-bottom-style: solid;
  border-color: white;
  transition: .3s;
  padding: 6px;
  margin: 2px;
  line-height: 2.4em;
}

a:hover {
  padding-bottom: 2px;
  margin-bottom: 8px;
}