@font-face {
  font-family: main;
  src: url(/font.ttf);
}
html, body {
  margin: 0;
  text-align: center;
  font-family: main, sans-serif;
  height: 100%;
  background-color: #797979;
  color: white;
  text-shadow: 2px 2px black;
  line-height: 1.8em;
  overflow-y: scroll;
  overflow-x: hidden;
}
html {overflow-y: hidden;}
.logo {
  max-width:50%;
}
.galpic {
  max-width:80%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.top {
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.below {
  margin: 10px;
}
.featured, .gallery {
  background-color: #474747;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 12%;
  padding-right: 12%;
}
.card {
  width: 100%;
  padding-bottom: 10px;
  transition: .4s;
}
.card:hover {
  background-color: black;
}
.card:hover a {
  background-color: white;
  color: black;
}
.card:hover a:hover {
  background-color: black;
  color: white;
}
a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 2px;
  padding-top: 3px;
  background-color: black;
  transition: 0.3s;
  display: inline-block;
  text-shadow: none;
}
a:hover {
  color: black;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  background-color: white;
}
a:active {
  color: white;
  background-color: black;
}
.menu {
  background-color: #474747;
  padding-bottom: 10px;
}
.about {
  color: white;
}
