#online-status {
    display: inline;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.lanyard-status {
    display: none;
}

.online {
    display: inline;
    color: rgb(0, 170, 0);
}
.idle {
    display: inline;
    color: rgb(255, 217, 0);
}
.dnd {
    display: inline;
    color: rgb(187, 0, 0);
}
.offline {
    display: inline;
    color: rgb(105, 105, 105);
}
.activity {
    display: inline;
    color: white;
}
.spotify {
    display: inline;
    color: white;
}

#lanyard-activity-name {
    display: inline;
    font-weight: bold;
}
#lanyard-track-name {
    display: inline;

}

.lanyard-fallback {
    display: none;
}
.none .lanyard-fallback {
    display: inline;
}
