@font-face {
    font-family: SourceCodePro;
    src: url(SourceCodePro.ttf);
}

/*:root {

}*/

body {
    background-color: black;
    color: white;
    font-family: SourceCodePro, monospace;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    z-index: 1;

    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    text-align: center;

    overflow: hidden;
}

#content {
    padding: 0;
    padding-top: 8px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.411) 0%, rgba(0,0,0,1) 100%);

    overflow: scroll;
}
#content-inner {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #1d1d1d;
    border-radius: 8px;
    box-shadow: 0 0 4px black;
    margin-top: 50px;
    margin-bottom: 200px;
    padding: 10px;
}

#bio {
    margin: 8px;
    text-shadow: -2px 2px 0 black;
}
#socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px;
    padding: 8px;
}
.social {
    text-align: center;
    display: flex;
    align-items: center;
    border: 2px solid white;
    padding: 4px;
    border-radius: 4px;
    transition: 0.2s;
    margin: 4px;
    background-color: black;
    font-size: 20px;
    box-shadow: -5px 5px 0 0 black;
}
.social:hover {
    background-color: white;
    color: black;
}
.social-text {
    flex-grow: 1;
    margin-left: 4px;
}

.project {
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    margin: 10px;
    background-color: black;
    border-radius: 4px;
    box-shadow: -5px 5px 0 0 black;
    transition: 0.2s;
}
.project img {
    height: 20vw;
    margin: 10px;
}
.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.project-links {
    display: flex;
    flex-direction: row;
}
.project-links a {
    display: flex;
    background-color: #1d1d1d;
    color: white;
    text-decoration: none;
    padding: 4px;
    border: 2px solid white;
    border-radius: 4px;
    transition: 0.2s;
    margin: 4px;
}
.project-links a:hover {
    background-color: white;
    color: #1d1d1d;
}

#languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#languages h2 {
    width: 100%;
}
.language {
    flex-grow: 1;
    margin: 4px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 10vw;
    text-shadow: -5px 5px 0 black;
}
h2 {
    font-size: 5vw;
}

.certification {
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid white;
    transition: 0.2s;
}
.certification:hover {
    box-shadow: -4px 4px 0 black;
}