/* Top Level */
body {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0;
    padding: 0;
    font-family: Rubik, sans-serif;
    display: flex;
    flex-direction: row;
    height: 100dvh;

    --sidebar-width: 25vw;
    
}

h1, h2 {
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

hr {
    width: 90%;
    border: none;
    height: 2px;
    background-color: white;
    border-radius: 5px;
}

/* Structures */
#sidebar-left {
    background-color: var(--bg-deep);
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
}
#main {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    padding-top: 0;
    box-sizing: border-box;
}
#sidebar-right {
    background-color: var(--bg-deep);
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    overflow-y: scroll;
    flex-grow: 1;
}

/* Sidebar Header */
#sidebar-header, .sidebar-close {
    display: none;
}

/* Main Content */
#main div {
    text-align: center;
}

/* Blog Posts */
.blog-post {
    background-color: var(--bg);
    display: block;
    width: 80%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    transition: var(--transition);
    color: white;
    text-decoration: none;
}
.blog-post:hover {
    transform: scale(1.1);
}
.blog-post-title {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}
.blog-post-date {
    color: var(--fg-deep);
}
#blog-archive {
    display: block;
    text-align: center;
    color: var(--fg-deep);
}

/* Header */
#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#title h1 {
    height: 100%;
    font-size: 5vw;
    color: var(--highlight);
    font-weight: bold;
    text-shadow: 5px 5px 0 var(--shadow);
}
#title h2 {
    font-size: 2vw;
}

/* Cube */
/*@keyframes cube-container-turn {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
@keyframes cube-3d-turn {
    from { transform: rotate3d(0, 0, 0, 0); }
    to { transform: rotate3d(1, 1, 0, 360deg); }
}*/
#cube-container {
    perspective: 500px;
    perspective-origin: center;
    width: fit-content;
    height: fit-content;
    filter: drop-shadow(0 0 10px var(--highlight));
}
#cube {
    --face-size: 10vw;
    --face-offset: calc(var(--face-size) / 2);
    --neg-face-offset: calc(-1 * var(--face-offset));
    width: var(--face-size);
    height: var(--face-size);
    transform-style: preserve-3d;
    
    padding: var(--face-offset);
    
}
.face#front, .face#back, .face#left, .face#right, .face#top, .face#bottom {
    width: var(--face-size);
    height: var(--face-size);
    background-position: center;
    background-size: cover;
    position: absolute;
    border: 1px solid black;
    /*background-attachment: fixed;*/
}
#front  { background: url("/assets/cube/front.jpg");  transform: translateZ(var(--face-offset));                     }
#back   { background: url("/assets/cube/back.jpg");   transform: translateZ(var(--neg-face-offset)) rotateY(180deg); }
#left   { background: url("/assets/cube/left.jpg");   transform: translateX(var(--neg-face-offset)) rotateY(-90deg); }
#right  { background: url("/assets/cube/right.jpg");  transform: translateX(var(--face-offset))     rotateY(90deg);  }
#top    { background: url("/assets/cube/top.jpg");    transform: translateY(var(--neg-face-offset)) rotateX(90deg);  }
#bottom { background: url("/assets/cube/bottom.jpg"); transform: translateY(var(--face-offset))     rotateX(-90deg); }

/* Left Sidebar */
/* Lists of links */
#sidebar-left ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}
#sidebar-left a {
    color: white;
}

/* Cards */
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: hidden;

}
.card {
    width: 33%;
    flex-grow: 1;
    box-sizing: border-box;
    
    background-position: top;
    background-size: cover;
    min-height: 30vh;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: var(--border-radius);
    margin: 10px;
}
.card-content {
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    text-shadow: 0 1px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.card h2 {
    flex-grow: 1;
    text-shadow: 0 2px 10px black, 0 2px 10px black, 0 3px 0 black;
}
.card a {
    color: white;
    font-weight: bold;
}
.card ul {
    display: inline;
}
.card li {
    display: inline;
}
/* Bargain Bin */
#bargain-bin {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.bargain {
    width: 100%;
    background-color: var(--bg-deep);
    display: block;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    color: white;
    text-decoration: none;
    box-shadow: 0 0 2px 0 var(--highlight);
    transition: var(--transition);
}
.bargain:hover {
    box-shadow: 0 0 2px 4px var(--highlight);
}
.bargain h2 {
    margin: 0;
}
.bargain p {
    flex-grow: 1;
    text-align: right;
}