:root {
    --bg-color: #1b1b1b;
    --fg-color: #ECF0F1;
    --accent: #E6AF2E;

    --online: #0cca4a;
    --idle: #FF8811;
    --dnd: #FF0000;
    --offline: #303030;

    --font: sans-serif;

    --border-radius: 10px;

    --box-shadow: 0 4px 4px 0 black;

    --top-height: 100px;

    --transition: 0.2s;
}